<!DOCTYPE html>
<html lang="en" class="antialiased h-full font-sans bg-gray-100">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Search field w/ icon and button</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="flex items-center justify-center min-h-screen">
        <div class="mb-4 flex justify-between items-center">
            <form action="{{ url_for('analyze_program') }}" method = "post" x-data="{ search: null }">
                <div role="search" class="relative w-full text-base leading-normal">
                    <label for="search" class="block font-semibold text-gray-600">Search</label>
                    <div class="flex w-full mt-1">
                        <div
                            class="group | relative flex items-center | w-full h-11 text-gray-400 bg-white rounded-md | focus-within:text-gray-700">
                            <input type="text" id="search" name="search" value="" placeholder="Search..."
                                class="w-full px-14 py-2 | border border-gray-300 rounded-md bg-white | placeholder-gray-400 | focus:outline-none focus:ring-2 focus:bg-white | group-hover:border-gray-400" />
                            <div
                                class="absolute top-px bottom-px left-px | inline-flex items-center | p-3 | border-r rounded-tl-md rounded-bl-md | bg-gray-50 group-hover:text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                    aria-hidden="true" focusable="false" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="w-5 h-5 text-gray-40">
                                    <g>
                                        <circle cx="10" cy="10" r="7" />
                                        <line x1="21" y1="21" x2="15" y2="15" />
                                    </g>
                                </svg>
                            </div>
                            <button type="reset" id="btn-clear-search-field" @click="search = null"
                                class="hidden | z-10 absolute top-px right-px bottom-px | items-center justify-center | w-11 h- text-white bg-white rounded-md | focus:outline-none">
                                <svg class="w-5 h-5 stroke-current rounded-full bg-gray-300" aria-hidden="true"
                                    focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path d="M7.75,7.75 L16.25,16.25" fill="none" stroke-width="2"
                                            stroke-linecap="round" class="" />
                                        <path d="M7.75,16.25 L16.25,7.75" fill="none" stroke-width="2"
                                            stroke-linecap="round" class="" />
                                    </g>
                                </svg>
                                <span class="sr-only">Clear search field</span>
                            </button>
                        </div>
                        <button type="submit" id="btn-search"
                            class="ml-1 px-4 py-3 | border rounded-md | text-sm font-medium leading-none text-white bg-blue-500 | focus:outline-none focus:ring-2 | hover:bg-blue-600">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- partial -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>